:root {
    --base: #2D2D2D;
    --accent: #cf8019;
    --accent-lt: #f2f2f2;
    --accent-dk: #818181;
    --rounded-corner: 10px;
    --win: #32a852;
    --loss: #a83832;
}

body {
    font-family: 'Inter', sans-serif, 'Segoe UI Emoji';
    background: linear-gradient(180deg, var(--base), var(--accent-dk));
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:3rem;
    flex-direction: column;
    color:var(--accent-lt);
}

.player {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rps {
    display:flex;
    gap:2.5rem;
    justify-content: center;
}

.btn { 
    border-radius: var(--rounded-corner);
    /* padding: 10px 20px; */
    background: var(--base);
    border: 2px solid var(--accent-lt);
    box-shadow: 3px 3px var(--accent-lt);
    font-size: 4rem;
    width: 10rem;
    height: 8rem;
    transition: 0.1s;
}

.btn:hover{
    font-size: 5rem;
}

.btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.comp-choice {
    width:10rem;
    border-radius: var(--rounded-corner);
    padding: 10px 20px;
    background: var(--base);
    border: 2px solid var(--accent-lt);
    font-size: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    height:8rem;
}

.grid-container {
    display:grid;
    grid-template-rows: auto;
    background-color: var(--base-dk);
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid var(--accent-lt);
    border-radius: var(--rounded-corner);
    overflow: hidden;
    font-size: 4rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

.win {
    background:var(--win);
}

.loss {
    background: var(--loss);
}

.draw {
    background: var(--accent-dk);
}

h1{
    text-align: center;
    color:var(--accent-dk);
}

.result {
    font-size: 4rem;
}

@media screen and (max-width: 480px) {
    .grid-item{font-size: 3rem;}
  }